body {
  font-family: roboto, arial;
}

p {
  margin: 0;
  margin-bottom: 8px;
}

.container {
  width: 160px;
  display: inline-block;
}

.profile-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 75%;
}

.top {
  margin-bottom: -6px;
  z-index: 2;
}

.bottom {
  padding: 6px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.name-text {
  font-weight: 700;
  font-size: 16px;
  margin-top: 4px;
}

.friends-text {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.add-button {
  color: white;
  font-size: 14px;
  background-color: blue;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}