button {
  color: black;
  background-color: rgb(255,216,20);
  padding: 6px 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover {
  background-color: rgb(235, 196, 00);
}