button {
  color: white;
  background-color: green;
  border: none;
  padding: 6px 12px;
  margin: 0 10px;
  cursor: pointer;
  transition: padding 0.15s margin 0.15s;
}

button:hover {
  padding: 6px 18px;
  margin: 0 4px;
}