button {
  color: white;
  background-color: green;
  border: none;
  padding: 8px 18px;
  cursor: pointer;
  transition: opacity 0.15s, padding 0.3s;
}

button:hover {
  opacity: 0.9;
  padding: 12px 30px;
}