input {
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(139, 139, 139);
  margin: 0 10px 10px 0;
}

.email {
  width: 236px;
  display: block;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  width: 258px;
  font-size: 14px;
  color: white;
  background-color: rgb(63, 63, 255);
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: none;
}