.logo {
  justify-content: center;
  align-items: center;
  display: flex;
}

img {
  width: 150px;
}

.input {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 6px;
}

input {
  padding: 6px 12px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  font-family: roboto, arial;
  width: 400px;
  border-radius: 24px;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

input:focus,
textarea:focus {
  outline: none;
}

.buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 24px;
}

.search-button,
.luck-button {
  border: none;
  background-color: rgb(245, 245, 245);
  padding: 6px 12px;
  cursor: pointer;
  margin: 0 10px;
}