p {
  font-family: Roboto, Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
}

input {
  font-family: roboto, arial;
  display: block;
}

.video-preview {
  width: 300px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

.thumbnail {
  width: 100%;
}

.title-text {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin: 0;
  line-height: 24px;
  width: 285px;
}

.views-text {
  margin: 2px 0 0 0;
  width: 285px;
}

.name-text {
  margin: 18px 0;
  width: 285px;
}

.description-text {
  line-height: 20px;
  width: 285px;
}