p {
  font-family: Roboto, Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
}

input {
  font-family: roboto, arial;
  display: block;
}

.video-preview {
  width: 300px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

.thumbnail-div {
  margin-bottom: 6px;
}

.thumbnail {
  width: 100%;
}

.profile-div,
.texts-div {
  display: inline-block;
  vertical-align: top;
}

.profile-div {
  width: 50px;
}

.channel-picture {
  width: 45px;
  border-radius: 30px;
}

.texts-div {
  width: 245px;
}

.title-text {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin: 0;
  line-height: 24px;
}

.views-text {
  margin: 12px 0 0 0;
}

.name-text {
  margin: 4px 0;
}