p {
  font-family: Arial;
  margin: 0 0 12px 0;
  text-align: center;
  font-size: 12px;
}

.title-text {
  font-size: 18px;
  font-weight: bold;
}

.description-text {
  color: blue;
}

.description-text:hover {
  cursor: pointer;
  text-decoration: underline;
}