input {
  padding: 6px 12px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  font-family: roboto, arial;
  width: 400px;
  border-radius: 24px;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}