p {
  font-family: Roboto, Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.title-text {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin: 0;
  line-height: 24px;
  width: 285px;
}

.views-text {
  margin: 2px 0 0 0;
  width: 285px;
}

.name-text {
  margin: 18px 0;
  width: 285px;
}

.description-text {
  line-height: 20px;
  width: 285px;
}

.apple-text {
  color: white;
  background-color: rgb(227, 65, 64);
  padding: 18px;
  margin-top: 100px;
  text-align: center;
}

.shop-link {
  color: white;
  text-decoration: none;
}