p {
  margin: 0 0 8px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.num-text {
  font-size: 24px;
}

.curr-text {
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.dis-text {
  font-size: 12px;
  color: green;
}

.time-text {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.diss-text {
  color: red;
}