a {
  color: rgb(0, 113, 133);
  transition: color 0.15s;
}

a:hover {
  color: rgb(230, 139, 3);
}

.nike-text {
  font-weight: bold;
  font-size: 20px;
}

.price-text {
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.cart-button {
  color: black;
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 8px 26px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s;
}

.cart-button:hover {
  background-color: rgb(245, 206, 10);
}

.cart-button:active {
  opacity: 0.8;
}

.buy-button {
  color: black;
  background-color: rgb(255, 164, 28);
  border: none;
  padding: 8px 26px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.buy-button:hover {
  background-color: rgb(240, 150, 20);
}

.buy-button:active {
  opacity: 0.8;
}