p {
  margin: 0 0 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.site-text {
  font-weight: 700;
}

.handle-text{
  font-weight: 400;
  color: rgb(96, 96, 96);
}

.direction-text {
  width: 450px;
  margin-bottom: 12px;
  line-height: 18px;
}

a {
  color: blue;
  text-decoration: none;
}