.start-button {
  color: white;
  background-color: rgb(121, 82, 179);
  border: none;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.download-button {
  color: rgb(108, 117, 125);
  background-color: white;
  border-color: rgb(108, 117, 125);
  border-style: solid;
  border-width: 1px;
  padding: 7px 16px;
  border-radius: 2px;
  cursor: pointer;
}