.apply-button {
  color: white;
  background-color: rgb(10, 102, 194);
  font-weight: bold;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.15s;
}

.apply-button:hover {
  background-color: rgb(0, 82, 174);
}

.save-button {
  color: rgb(10, 102, 194);
  background-color: white;
  border-color: rgb(10, 102, 194);
  border-style: solid;
  border-width: 1px;
  padding: 7px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: border-width 0.15s, background-color 0.15s;
}

.save-button:hover {
  border-width: 2px;
  background-color: rgb(219, 237, 255);
}