.start-button {
  color: white;
  background-color: rgb(121, 82, 179);
  border: none;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s;
}

.download-button {
  color: rgb(108, 117, 125);
  background-color: white;
  border-color: rgb(108, 117, 125);
  border-style: solid;
  border-width: 1px;
  padding: 7px 16px;
  border-radius: 2px;
  cursor: pointer;
  transition: color 0.15s, background-color 0.15s;
}

.start-button:hover {
  background-color: rgb(101, 62, 159);
}

.download-button:hover {
  color: white;
  background-color: rgb(108, 117, 125);
}