.header {
  display: flex;
  height: 55px;
  justify-content: space-between;
}

.left-section {
  background-color: lightblue;
  width: 150px;
}

.middle-section {
  background-color: lightpink;
  flex: 1;
  margin: 0 40px 0 70px;
  max-width: 500px;
}

.right-section {
  background-color: lightblue;
  width: 200px;
}