a {
  color: rgb(0, 113, 133);
}

.nike-text {
  font-weight: bold;
  font-size: 20px;
}

.price-text {
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.cart-button {
  color: black;
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 8px 26px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 8px;
}

.buy-button {
  color: black;
  background-color: rgb(255, 164, 28);
  border: none;
  padding: 8px 26px;
  border-radius: 20px;
  cursor: pointer;
}