body {
  font-family: roboto, arial;
  height: 3000px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.left-section {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 45px;
  height: 45px;
  margin-right: 6px;
}

.profile-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.name-text {
  font-size: 16px;
  font-weight: 600;
}

.right-section {
  display: flex;
  align-items: center;
}

.add-button,
.message-button {
  color: white;
  background-color: blue;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.message-button {
  color: black;
  background-color: rgb(220, 220, 220);
  margin-left: 12px;
}