.apply-button {
  color: white;
  background-color: rgb(10, 102, 194);
  font-weight: bold;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.save-button {
  color: rgb(10, 102, 194);
  background-color: white;
  border-color: rgb(10, 102, 194);
  border-style: solid;
  border-width: 1px;
  padding: 7px 18px;
  border-radius: 20px;
  cursor: pointer;
}