body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245, 245, 245);
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  width: 300px;
  display: block;
  margin: 0 0 6px 0;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 24px;
  border: none;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}

.schedule-button {
  background-color: rgb(245, 245, 245);
  color: black;
}

input:focus,
textarea:focus {
  outline: none;
}