button {
  color: white;
  background-color: green;
  padding: 8px 12px;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

button:active {
  box-shadow: none;
  margin: 3px 0 0 3px;
}