p {
  font-family: verdana;
  margin: 0;
}

.title-text {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 4px 0;
}

.sub-text {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin: 0 0 10px 0;
}

.description-text {
  width: 250px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}

button {
  color: white;
  background-color: rgb(46,164,79);
  border: none;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 4px;
  transition: box-shadow 0.15s;
}

button:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}